@layout('layout')

@section('content')
    <h1>Bienvenido al Sistema</h1>
  <form action="/logout" class="form" method="POST">
        {{ csrfField() }}
   <button type="submit"  class="btn btn-primary-danger">Loguot</button></a>
</form>
@endsection